@model TuiTche.WEB.MVC.Models.PerfilModel

@{
    ViewBag.Title = "perfil";
}
@if(Model == null)
{
   <h3 class="alert alert-warning text-center" style="width:500px;"> Usuário não Encontrado</h3>
}
else
{
    <br />
    <div>
        <h3>Perfil de @Model.NomeCompleto</h3>
        <hr />
        @if (Model.Foto == null)
        {
            <img  class="table-bordered" src="~/Content/img-upload/default.jpg" width="125" height="100" />
        }
        else
        {
            <img class="table-bordered" src="@Url.Content(Model.Foto)" width="125" height="100" />
        }
        <div style="margin-left: 65px; margin-top: -95px;">
            <dl class="dl-horizontal">

                <dt>
                    Nome
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeCompleto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Seguidores
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroSeguidores)
                </dd>

                <dt>
                    Seguindo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroSeguindo)
                </dd>

            </dl>
        </div>
        @Html.Partial("_Seguir", @Model)
    </div>
}




