@model TuiTche.WEB.MVC.Models.ListaDePublicacaoModel

<div id="pubs">
    @foreach (var publicacao in Model.ListaPublicacoes)
    {
        <div class="mensagem">
            @if (publicacao.UsuarioCompartilhou != null)
            {
                <h4>Compartilhado por: @publicacao.UsuarioCompartilhou</h4>
            }
            <div id="postador" class="text-left border-bottom">
                <h4 class="usuario-publicacao">@publicacao.NomeUsuario :</h4>
            </div>
            <p class="text-justify texto-16 border-bottom">@publicacao.Mensagem</p>            
            
            <div class="text-center clearfix">
                @{Html.RenderAction("_CarregarComentarios", "Publicacao", new { idPublicacao = @publicacao.IdPublicacao });}
            </div>

            <div class="footer-mensagem clearfix">
                @using (Ajax.BeginForm("Curtir", "Curtir", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "curtir" + publicacao.IdPublicacao,
                    HttpMethod = "POST"
                }))
                {
                    <div id="curtir@(publicacao.IdPublicacao)" class="pull-right" style="margin: 12px 130px 12px 0">
                        @{Html.RenderAction("CarregarCurtir", "Curtir", new { idPublicacao = @publicacao.IdPublicacao });}
                    </div>
                }
                <div>
                    <button id="compartilhar" style="margin: 12px 0 12px 115px" class="btn btn-default pull-left" onclick="compartilhar(this); notifyMe();">Compartilhar</button>
                </div>
            </div>
        </div>
        <script>
            (function changeId ()
            {
                var e = document.getElementById("compartilhar");
                e.id = "compartilhar"+@publicacao.IdPublicacao;
            })();
        </script>
}
</div>
<script>
    var id;
    var dataObject;
    function compartilhar(e){
        id = e.id;
        dataObject = {'idPublicacao': id.substring(12,id.length) };
            $.ajax({
                url: 'Publicacao/Compartilhar',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataObject)
            })
    };
    function notifyMe() {
        if (!("Notification" in window)) {
            alert("Este navegador não suporte notificações desktop");
        }

        else if (Notification.permission === "granted") {
            var notification = new Notification("Mensagem Compartilhada!");
            setTimeout(function(){
                notification.close();
            },8000);
        }

        else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {

                if (!('permission' in Notification)) {
                    Notification.permission = permission;
                }
                if (permission === "granted") {
                    var notification = new Notification("Mensagem Compartilhada!");
                    setTimeout(function(){
                        notification.close();
                    },8000);
                }
            });
        }
    }
</script>
