<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TwiTchê</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="sky-background">    
    <header class="navbar-fixed-top meuHeader">
        <div style="position: fixed; top: 0; right: 0">
            <img src="~/Content/img/quero-quero.png" class="quero-quero-background" />
        </div>
        <div class="container clearfix">
            <img src="~/Content/img/logo.png" class="foto-logo" />
            @Html.ActionLink("TuiTchê", "Index", "Login", new { area = "" }, new { @class = "texto-logo" })

            <input type="text" id="buscaUsuario" class="campo-busca-usuario pull-left" placeholder="Buscar usuarios..." />

            <div id="usuario-info" class="pull-right">
                <img src="~/Content/img/logo.png" class="foto-perfil" />
                <div class="pull-left info-usuario">
                    <ul style="list-style-type:none">
                        <li class="nome-usuario">Usuario</li>
                        <li class="classiicacao">Ranking</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content marginTop">
        @RenderBody()
        <hr />

    </div>

    <footer class="navbar-fixed-bottom">
        <div class="meuFooter text-center">
            <p>&copy; @DateTime.Now.Year - TuiTchê</p>
            <p> Alguns direitos reservados.</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>