@model ListaComentarioVisualizarModel

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

@if (Model.Comentarios.Count > 0)
{
    <div id="comentarios">
        @Html.Partial("_Comentarios", Model)
    </div>


    using (Ajax.BeginForm("CarregarMaisComentarios", new AjaxOptions
    {
        Url = @Url.Action("CarregarMaisComentarios", "Publicacao"),
        HttpMethod = "POST",
        UpdateTargetId = "comentarios",
        InsertionMode = InsertionMode.InsertAfter,
        OnSuccess = "verificarTemMaisComentarios(data); $('#Contador').val(parseInt($('#Contador').val())+2);"
    }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Carregar mais" id="Carregar" />
        <input type="hidden" id="IdPublicacao" name="IdPublicacao" value="@Model.IdPublicacao" />
        <input type="hidden" id="Contador" name="Contador" value="@Model.Contador" />
    }
}
<script>
    var verificarTemMaisComentarios = function (data) {
        console.log(data)
        if (data.length < 2) {
            $('#Carregar').hide();
        }
    };
</script>